<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        /* 기본 스타일 */
        .news-letter-body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .news-letter-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .news-letter-container {
            padding: 20px;
            background-color: #ffffff;
        }

        .news-letter-h1 {
            color: #412B8D;
        }

        .news-letter-p {
            line-height: 1.6;
            color: #555555;
        }

        .news-letter-a {
            color: #412B8D;
            text-decoration: none;
        }

        .news-letter-footer {
            text-align: center;
            padding: 20px;
            background-color: #412B8D;
            color: #ffffff;
            font-size: 12px;
        }

        /* 섹션 구분 스타일 */
        .news-letter-section {
            padding: 20px 0;
            border-bottom: 1px solid #eeeeee;
        }

        .news-letter-section:last-child {
            border-bottom: none;
        }

        /* 이미지 스타일 */
        .news-letter-section img {
            max-width: 100%;
            height: auto;
        }

        /* 모바일 반응형 스타일 */
        @media screen and (max-width: 600px) {
            .news-letter-wrapper {
                width: 100%;
            }

            .news-letter-container {
                padding: 10px;
            }

            .news-letter-h1 {
                font-size: 24px;
            }
        }

        /* 제목 이미지 스타일 */
        .news-letter-header-image {
            text-align: center; /* 이미지를 가운데 정렬 */
        }

        .news-letter-header-image img {
            max-width: 45%;
        }
    </style>
</head>
<body>
<div class="news-letter-body">
    <div class="news-letter-wrapper" >
        <div class="news-letter-container">
            <section class="section news-letter-header-image">
                <img src="/image/changbi_union_icon.jpg" alt="뉴스레터 제목 이미지">
            </section>
            {{html}}

        </div>
        <div class="news-letter-footer">
            <p>&copy; 2023 회사 이름. All rights reserved.</p>
        </div>
    </div>
</div>
</body>
</html>