
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" ></script>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <form action="/login/auth" method="POST" id="loginForm">
        <img class="d-block mx-auto mb-4" src="/image/marx.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">로그인</h1>

        <div class="form-floating">
            <input type="text" class="form-control" name="memberEmail" id="inputEmail" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="memberPassword" id="inputPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        {{#error}}
            <b id="spanErrorMessage" style="color:red;">{{errorMessage}}</b>
        {{/error}}

        <div class="checkbox mb-3">
            <!--<label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>-->
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/commonValues.js"></script>
<script type="application/javascript">
    $(document).ready(function (){
        $("#loginForm").keypress(function (e){
            if(e.keyCode === 13){
                $("#loginForm").submit();
            }
        });
    });
</script>
</body>
</html>
