
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Checkout example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Custom styles for this template -->
    <link href="/css/form-validation.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

</head>
<body class="bg-light">

<div class="container col-6">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/image/marx.png" alt="" width="72" height="57">
            <h2>계정 생성하기</h2>
            <p class="lead">계정은 창비 그룹웨어 메일 주소(@changbi.com)로만 가입이 가능합니다.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-12 col-lg-12">
                <h4 class="mb-3">회원 정보</h4>
                <div class="row g-3">
                    <div class="col-9">
                        <label for="firstName" class="form-label">그룹웨어 메일 주소</label>
                        <div class="row">
                            <div class="col-8">
                                <input type="email" class="form-control" id="inputMail" placeholder="" value="" required>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-success" id="emailRequestButton"> 인증 번호 발송 </button>
                            </div>
                        </div>
                        <div class="row mt-1" id="authCheckDiv" style="display: none;">
                            <div class="col-6">
                                <input type="text" class="form-control" id="authNumberChecker" placeholder="발송된 인증번호 4자리를 입력해주세요.">
                                <input type="hidden" id="emailValidationResult" >
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-success" id="authNumberCheckButton"> 확인 </button>
                                <button class="btn btn-outline-warning" id="reGenerateButton"> 재발송 </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="username" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="비밀번호 입력 (영 대소문자 및 숫자 포함, 최소 8 - 최대20자)" required>
                        </div>

                        <div class="col-6">
                            <label for="username" class="form-label">비밀번호 확인</label>
                            <span style="color:red; display: none;" id="passwordErrorMessage">에러 메세지</span>
                            <input type="password" class="form-control" id="checkPassword" placeholder="비밀번호 재입력">
                        </div>

                        <input type="hidden" id="passwordValidationResult">
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="username" class="form-label">실명(필수)</label>
                            <input type="text" class="form-control" id="inputRealName" placeholder="(필수) 실명을 입력해주세요." required>
                        </div>
                        <div class="col-6">
                            <label for="username" class="form-label">닉네임(선택)</label>
                            <input type="text" class="form-control" id="inputNickName" placeholder="(선택) 닉네임을 입력해주세요.">
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="username" class="form-label">소속</label>
                            <select class="form-select" id="inputCompany" required>
                                <option value="" selected disabled> 소속을 선택해주세요. </option>
                                <option value="CHANGBI"> 창비 </option>
                                <option value="CHANGBI_EDU"> 창비교육 </option>
                                <option value="MEDIA_CHANGBI"> 미디어창비 </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="username" class="form-label">부서</label>
                            <select class="form-select" id="inputDepartment" required>
                                <option value="" selected  disabled> 부서를 선택해주세요. </option>
                                <option value="PUBLISHING"> 출판 </option>
                                <option value="IT"> IT </option>
                                <option value="HR"> 인사/총무 </option>
                                <option value="ETC"> 기타 </option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" id="requestRegistrationButton">가입 요청</button>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2021 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/commonValues.js"></script>
<script src="/js/member.js"></script>
<script>
    $(document).ready(function (){
        $("#inputMail").focus();
    })
</script>
</body>
</html>
