{{>layout/header}}
<link rel="stylesheet" href="/plugin/ckeditor5/style.css">
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css">
<main class="container col-10">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{boardId}}</h1>
            <p class="lead my-3">공지 사항 및 이벤트 등 캐러샐 추가 영역</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <h3 class="my-3">새 글 쓰기</h3>
    <hr class="my-4">
    <input type="hidden" id="boardId" value="{{boardId}}">
    <input type="hidden" id="memberId" value="{{member.memberId}}">
    <div class="row d-flex justify-content-center">
        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <label for="firstName" class="form-label">게시판 : </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="boardNameIndicator" disabled>
            </div>

            <div class="col-auto align-self-center">
                <label for="firstName" class="form-label">작성자 : </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" value="{{member.memberRealName}}({{member.memberNickName}})" disabled>
            </div>
            <div class="col-auto">
                <label for="firstName" class="col-auto">공개 여부: </label>
            </div>
            <div class="col-auto">
                <fieldset>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inputUseYn" id="useTrue" value="true" checked>
                            <label for="useTrue">공개</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inputUseYn" id="useFalse" value="false">
                            <label for="useFalse">비공개</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <label for="firstName" class=" ">제목 : </label>
            </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example" id="inputPostHead">
                    <option disabled selected>말머리 선택</option>
                    <option value="GENERAL">일반</option>
                    <option value="NEWS">소식</option>
                    <option value="NOTICE">공지</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="inputPostTitle" placeholder="제목을 입력해주세요.">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label for="floatingTextarea" class="mb-1">내용:</label>
            </div>
            <div class="col-12">
                <div class="main-container">
                    <div class="editor-container editor-container_classic-editor" id="editor-container">
                        <div class="editor-container__editor"><div id="editor"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5">
                <input type="file" class="form-control">
            </div>
        </div>

        <div class="row d-flex justify-content-end">
            <div class="col-auto">
                <button class="btn btn-outline-dark" onclick="history.back();">뒤로 가기</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" id="postSaveButton">새 글 등록</button>
            </div>
        </div>
    </div>

    <hr class="my-4">


    <script src="/js/board.js"></script>
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
            }
        }
    </script>
    <script type="module" src="/plugin/ckeditor5/main.js"></script>
    <script type="application/javascript">
        $(document).ready(function (){
            let boardId = $("#boardId").val();
            let boardDetail = main.findBoardById(boardId);
            $("#boardNameIndicator").val(boardDetail.boardName);
        });
    </script>
</main>
{{>layout/footer}}