{{>layout/header}}
<!-- TOAST UI Editor CDN(CSS) -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<main class="container col-10">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{boardDetail.boardId}}</h1>
            <p class="lead my-3">공지 사항 및 이벤트 등 캐러샐 추가 영역</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <h3 class="my-3">새 글 쓰기</h3>
    <hr class="my-4">
    <input type="hidden" id="boardId" value="{{boardDetail.boardId}}">
    <input type="hidden" id="attachmentFlag" value="{{boardDetail.attachmentAllowYn}}">
    <input type="hidden" id="memberId" value="{{member.memberId}}">
    <div class="row d-flex justify-content-center">
        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <label for="firstName" class="form-label">게시판 : </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="boardNameIndicator" disabled>
            </div>

            <div class="col-auto align-self-center">
                <label for="firstName" class="form-label">작성자 : </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" value="{{member.memberRealName}}({{member.memberNickName}})" disabled>
            </div>
            <div class="col-auto">
                <label for="firstName" class="col-auto">공개 여부: </label>
            </div>
            <div class="col-auto">
                <fieldset>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inputUseYn" id="useTrue" value="true" checked>
                            <label for="useTrue">공개</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inputUseYn" id="useFalse" value="false">
                            <label for="useFalse">비공개</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <label for="firstName" class="">제목 : </label>
            </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example" id="inputPostHead">
                    <option disabled selected>말머리 선택</option>
                    <option value="GENERAL">일반</option>
                    <option value="NEWS">소식</option>
                    <option value="NOTICE">공지</option>
                    <option value="SALE">팝니다</option>
                    <option value="BUY">삽니다</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="inputPostTitle" placeholder="제목을 입력해주세요.">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label for="floatingTextarea" class="mb-1">내용:</label>
            </div>
            <div class="col-12">
                <div id="editor" style="width: 100%"></div>
            </div>
        </div>

        {{#boardDetail.attachmentAllowYn}}
        <div class="row mb-3">
            <div class="col-5">
                <form id="fileForm" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="attachmentId">
                    <input type="file" class="form-control" name="file" id="attachmentFile">
                </form>
            </div>
        </div>
        {{/boardDetail.attachmentAllowYn}}
        <div class="row d-flex justify-content-end">
            <div class="col-auto">
                <button class="btn btn-outline-dark" id="goToPostListButton">목록으로</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" id="postSaveButton">새 글 등록</button>
            </div>
        </div>
    </div>

    <hr class="my-4">


    <script src="/js/board.js"></script>
    <!-- TOAST UI Editor CDN(JS) -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script type="application/javascript">
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            previewStyle: 'vertical',
            height: '500px',
            width: '1200px',
            initialEditType: 'wysiwyg'
        });


        $(document).ready(function (){
            let boardId = $("#boardId").val();
            let boardDetail = main.findBoardById(boardId);
            $("#boardNameIndicator").val(boardDetail.boardName);
        });
    </script>
</main>
{{>layout/footer}}