{{>layout/header}}
<main class="container col-10">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{boardId}}</h1>
            <p class="lead my-3">공지 사항 및 이벤트 등 캐러샐 추가 영역</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-auto text-center">No</th>
                <th scope="col" class="col-6 text-center">제목</th>
                <th scope="col" class="col-auto text-center">글쓴이</th>
                <th scope="col" class="col-auto text-center">작성일</th>
                <th scope="col" class="col-auto text-center">조회</th>
                <th scope="col" class="col-auto text-center">추천</th>
            </tr>
            </thead>
            <tbody id="postListDiv">

            </tbody>
        </table>
    </div>
</main>


{{>layout/footer}}