{{>layout/admin-header}}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">회원 관리</h1>
    </div>

    <h2>노조 회원 목록</h2>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary"> 회원 추가 </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">회원 고유번호</th>
                <th scope="col">이름(닉네임)</th>
                <th scope="col">소속</th>
                <th scope="col">권한</th>
                <th scope="col">가입일</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!--<nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>-->
</main>
</div>
</div>
{{>layout/admin-footer}}

