{{>layout/admin-header}}
<div class="container">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">게시판 관리</h1>
        </div>
        <h4 class="mb-3">신규 게시판 생성</h4>
        <input type="hidden" id="boardId" value="{{boardId}}">
        <div class="row d-flex justify-content-start">
            <div class="col-md-8 col-lg-8">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">게시판 이름</label>
                        <input type="text" class="form-control" id=inputBoardName placeholder="" value="" required="">
                    </div>
                </div>

                <div class="row g-3 mt-2">
                    <div class="col-md-6 col-lg-6">
                        <label for="">사용 여부</label>
                        <fieldset>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="inputUseYn" id="useTrue" value="true">
                                    <label for="useTrue">사용</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="inputUseYn" id="useFalse" value="false">
                                    <label for="useFalse">사용 안함</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label for="">첨부파일 허용 여부</label>
                        <fieldset>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="inputAttachmentAllowYn" id="attachmentTrue" value="true">
                                    <label for="attachmentTrue">첨부파일 허용</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="inputAttachmentAllowYn" id="attachmentFalse" value="false">
                                    <label for="attachmentFalse">첨부파일 허용 안함</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row g-3 mt-2">
                    <div class="col-md-6 col-lg-6">
                        <label for="">읽기 권한</label>
                        <select class="form-select" id="inputReadRole">
                            <option value="GUEST" selected>전체</option>
                            <option value="USER">회원</option>
                            <option value="ADMIN">관리자</option>
                            <option value="SUPER_ADMIN">슈퍼관리자</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label for="">쓰기 권한</label>
                        <select class="form-select" id="inputWriteRole">
                            <option value="GUEST" selected>전체</option>
                            <option value="USER">회원</option>
                            <option value="ADMIN">관리자</option>
                            <option value="SUPER_ADMIN">슈퍼관리자</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 mt-2">
                    <div class="col-md-6 col-lg-6">
                        <label for="">등록일</label>
                        <input type="text" class="form-control" id="appendDate" disabled>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label for="">수정일</label>
                        <input type="text" class="form-control" id="updateDate" disabled>
                    </div>
                </div>

                <hr class="my-4">

                <button class="btn btn-success" id="boardUpdateButton">수정</button>
                <button class="btn btn-danger" id="boardDeleteButton">삭제</button>
                <button class="btn btn-outline-dark" onclick="history.back();">뒤로 가기</button>

            </div>
        </div>
    </main>
</div>
</div>

<script src="/js/admin/board.js"></script>
<script type="application/javascript">
    $(document).ready(function (){
        let boardId = $("#boardId").val();
        main.findBoardById(boardId);
    });
</script>
</div>

{{>layout/admin-footer}}